<html>

<head>
  <title>Mini Project #04</title>
</head>

<body>
  <h2>Excel Number Converter</h2>
  <form action="/excel" method="POST">
    Number to convert:
    <input type="number" name="number">
    <input type="submit">
  </form>
  <br>
  <form action="/logout" method="POST">
    <button name="LOGOUT" value="LOGOUT">LOGOUT</button>
  </form>
</body>

</html>
