<html>

<head>
  <title>Mini Project #04</title>
</head>

<body>
  <h2>Excel Number Converter Login</h2>
  <form action="/login" method="POST">
    <button name="LOGIN" value="LOGIN">LOGIN</button>
  </form>
</body>

</html>
